@import url("https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", sans-serif;
}

body {
  color: #ffffff;
  background-color: #030303;
}

.background-section {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  border-bottom: 8px solid rgb(43, 41, 41);
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/KE-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_5e760fc1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-section h1 {
  margin-top: 150px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.background-section p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.input-group input {
  flex: 1;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.input-group .btn {
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid #e50914;
  border-radius: 0 4px 4px 0;
  background-color: #e50914;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
}
.input-group .btn svg {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
}
.input-group .btn:hover {
  background-color: #f6121d;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo svg {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  margin: 0 auto;
}

.signin-button .btn {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: 600;
}

.signin-button .btn:hover {
  background-color: #f40612;
}
.section2,
.section3,
.section4,
.section5,
.section6 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #030303;
  border-bottom: 8px solid rgb(43, 41, 41);
  height: auto;
}

.section2 .container-text,
.section3 .container-text,
.section4 .container-text,
.section5 .container-text,
.section6 .container-text {
  flex: 1;
  max-width: 45%;
  padding: 0 20px;
}

.section2 .container-image,
.section3 .container-image,
.section4 .container-image,
.section5 .container-image,
.section6 .container-image {
  flex: 1;
  max-width: 45%;
  padding: 0 20px;
  position: relative;
}

.section2 .container-text h2,
.section3 .container-text h2,
.section4 .container-text h2,
.section5 .container-text h2,
.section6 .container-text h2 {
  font-size: 47px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.section2 .container-text p,
.section3 .container-text p,
.section4 .container-text p,
.section5 .container-text p,
.section6 .container-text p {
  font-size: 22px;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.section2 .container-image img,
.section3 .container-image img,
.section4 .container-image img,
.section5 .container-image img,
.section6 .container-image img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.video-background {
  position: absolute;
  top: 100;
  left: 16%;
  width: 68%;
  height: 50%;
  z-index: 1;
  pointer-events: none;
  object-fit: cover;
}

.video-background-mobile {
  position: absolute;
  top: 130%;
  left: 120%;
  width: 58%;
  height: 52%;
  z-index: 1;
  pointer-events: none;
  object-fit: cover;
}

.section7 {
  background-color: #000000;
  color: #757575;
  padding: 60px 0;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.link-column {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.link-column a {
  display: block;
  color: #757575;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.link-column a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social i {
  color: #757575;
  margin: 0 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.footer-social i:hover {
  color: #fff;
}

.footer-service {
  margin-bottom: 20px;
}
/* faq remod */
.faq {
  background: #030303;
  padding: 70px 30px;
}
.faq h1 {
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 40px;
}
.questions {
  max-width: 78rem;
  margin: 0 auto;
  font-size: 1.625rem;
}
.question {
  position: relative;
  background-color: #303030;
  margin-bottom: 10px;
}
.question .header {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.question svg {
  width: 30px;
  height: 30px;
  right: 30px;
  top: 20px;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
.question .answer {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.question input[type="checkbox"] {
  display: none;
}
.question input[type="checkbox"]:checked ~ .answer {
  padding: 30px 30px;
  max-height: 600px;
}
.question input[type="checkbox"]:checked ~ .header svg {
  transform: rotate(0deg);
}
.faq p {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.faq .input-group {
  margin: 0 auto;
}
