{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<section class="background-section">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="logo">
        <img src="{% static 'images/Netflix_Logo_PMS.png' %}" alt="Logo">
      </div>

      <div class="signin-button">
        <a href="{% url 'login' %}" class="btn">Sign In</a>
    </div>
    </div>
  </nav>
  <h1>Unlimited movies, TV shows, and more</h1>
  <p>Watch anywhere. Cancel anytime.</p>
  <p>Ready to watch? Enter your email to create or restart your membership.</p>
  <div class="input-group">
    <input type="email" placeholder="Email address" required />
    <button type="submit" class="btn">Get Started</button>
  </div>
</section>

<section class="section2 container-default">
  <div class="container-text">
    <h2>Enjoy on your TV.</h2>
    <p>
      Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
      players, and more.
    </p>
  </div>
  <div class="container-image">
    <img src="{% static 'images/device-pile-ke.png' %}" alt="tv" />
  </div>
</section>

<section class="section3">
  <!-- Content for section 3 goes here -->
</section>

<section class="section4 container-default">
  <div class="container-image">
    <img src="{% static 'images/AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooU.png' %}" alt="tv" />
  </div>
  <div class="container-text">
    <h2>Create profiles for kids</h2>
    <p>
      Send kids on adventures with their favorite characters in a space made just for them—free with your membership.
    </p>
  </div>
</section>

<section class="section5">
  <!-- Content for section 5 goes here -->
</section>

<section class="section6">
  <!-- Content for section 6 goes here -->
</section>

{% endblock %}
